*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.menu-section{
    background-color: #3498db;
    padding: 20px 5%;
}
.menu-section ul{
    text-align: right;
}
.menu-section ul li{
    display: inline-block;
    margin-right:15px ;
}
.menu-section ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
section{
    overflow: hidden;
    padding:10px 0;
}
.half-div{
    width: 40%;
    float: left;
    margin-left: 2%;
    padding-left: 4%;
}
.toparea{
    background:#2980b9;
}
.toparea h1{
    color:#fff;
    font-size: 70px;
    text-transform: uppercase;
    margin-top: 100px;
}
.toparea .topname{
    color:#ffc400;
    letter-spacing: 2px;
}
.toparea p{
    text-align: justify;
    color: #0a0a0a;
    margin: 15px 0;
}
img{
    width: 100%;
}
.btn{
    color:#fff;
    text-decoration: none;
    background: linear-gradient(45deg,#1abc9c,#16a085);
    padding: 10px 20px ;
    border-radius: 5px;
    display: inline-block;
    font-size: 18px;
}
.aboutarea{
    background:#2980b9;
    background-image: url(img/shape2.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.aboutarea h1{
    font-size: 60px;
    text-transform: uppercase;
    margin: 20px 0;
    color: #fff;
}
.aboutarea p{
    margin: 30px 0;
    text-align: justify;
}
.workingarea{
    background-color: #1995ce;
    background-image: url(img/back.png);
    padding: 80px 2% 80px 100px;
    
}
.workitem{
    text-align: center;
}
.workitem h1{
    font-size: 50px;
    margin: 0 0 50px 0;
    color:#ffffff;
}
.workitem .highlight{
    color:orange;
}
.workingarea img{
    width:100% ;
}
.box{
    float: left;
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 10px 10px 35px #333;
}
.boxmargin{
    margin: 0 3%;
}
.box p{
    text-align: justify;
}
.boxitemH{
    text-align: left;
    color:#363958;
    font-size: 25px;
    margin: 15px 0;
}
.box p{
    color:rgb(53, 53, 53);
    padding-bottom:30px ;
}
.footerarea{
    padding: 100px 220px;
    text-align: center;
}
.inneritem{
    background-image: url(img/shape3.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 70%;
    height: 300px;
    margin: 0 auto;
}  
.inneritem h1{
    float: left;
    margin-top: 10.5%;
    margin-left:50px;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}
.inneritem a{
    float: right;
    margin-top: 10.5%;
    margin-right: 50px;
    color: #fff;
    background: linear-gradient(#FF8063,rgb(255, 109, 93));
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
}
.innercontact{
    margin-top: 40px;
}
.innercontact h3{
    color:#696871;
    text-transform: uppercase;
}
.innercontact h1{
    color:#363958;
    font-size: 36px;
}
.imgbox img{
    width: 40px;
    margin: 20px 5px;
}
footer{
    box-shadow: 0 10px 35px #333;
    padding: 10px  0;
    background: #3598DB;
}
footer p{
    text-align: center;
    color: #fff;
}